{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static '/images/logo1.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
{% block mainmenu %}
  <div class="header">
    <ul id="mainmenu" class="mainmenu">
      <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>

      <!-- Dropdown Menu -->
      <div class="dropdown2">
    <button class="dropbtn" id="menuBtn">Меню</button>
    <div class="dropdown2-content">
        {% if request.user.is_authenticated %}
        <a href="{% url 'home2' %}">Сайтты қазақ тіліне аудару</a>
            <a href="{% url 'profile' %}">{{ user.username }}(профиль)</a>
            <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
        <a href="{% url 'home2' %}">Сайтты қазақ тіліне аудару</a>
            <a href="{% url 'register' %}"> Регистрация</a>
            <a href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
</div>
      <!-- End Dropdown Menu -->

      {% if request.user.is_authenticated %}
        <li class="last"><a href="{% url 'set_language_kazakh' %}">Сайтты қазақ тіліне аудару</a> | <a href="{% url 'profile' %}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
        <li class="last"><a href="{% url 'set_language_kazakh' %}">Сайтты қазақ тіліне аудару</a> | <a href="{% url 'register' %}"> Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
      {% endif %}
    </ul>
    <div class="clear"></div>
  </div>
{% endblock mainmenu %}

<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все темы</li>
{% else %}
		<li><a href="{% url 'home' %}">Все темы</a></li>
{% endif %}



	</ul>
</td>
<td class="content">

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn");
    const dropdownContent = document.querySelector(".dropdown2-content");

    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "none") ? "block" : "none"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
</script>

<body>
  <header>
    <h1>Математика</h1>
  </header>

  <section class="tests">
    <h2>Тесты</h2>

    <ul class="tests">
        <li><a href="/topics/1">Тема 1: Отношение двух чисел</a></li>
        <li><a href="/topics/2">Тема 2: Деление чисел в данном отношении</a></li>
        <li><a href="/topics/3">Тема 3: Процентное отношение двух чисел</a></li>
        <li><a href="/topics/4">Тема 4: Пропорция. Основное свойство пропорции</a></li>
        <li><a href="/topics/5">Тема 5: Прямо пропорциональная зависимость</a></li>
        <li><a href="/topics/6">Тема 6: Обратно пропорциональная зависимость</a></li>
        <li><a href="/topics/7">Тема 7: Решение задач на проценты способом пропорции</a></li>
        <li><a href="/topics/8">Тема 8: Масштаб</a></li>
        <li><a href="/topics/9">Тема 9: Длина окружности. Площадь круга</a></li>
        <li><a href="/topics/10">Тема 10: Координатная прямая</a></li>
        <li><a href="/topics/11">Тема 11: Целые числа. Рациональные числа</a></li>
        <li><a href="/topics/12">Тема 12: Модуль числа</a></li>
        <li><a href="/topics/13">Тема 13: Сравнение рациональных чисел</a></li>
        <li><a href="/topics/14">Тема 14: Сложение рациональных чисел с помощью координатной прямой</a></li>
        <li><a href="/topics/15">Тема 15: Сложение рациональных чисел</a></li>
        <li><a href="/topics/16">Тема 16: Вычитание рациональных чисел</a></li>
        <li><a href="/topics/17">Тема 17: Умножение рациональных чисел</a></li>
        <li><a href="/topics/18">Тема 18: Переместительное и сочетательное свойство рациональных чисел</a></li>
        <li><a href="/topics/19">Тема 19: Правила деления рациональных чисел</a></li>
        <li><a href="/topics/20">Тема 20: Представление рационального числа в виде бесконечной десятичной периодической дроби</a></li>
        <li><a href="/topics/21">Тема 21: Выражения с переменными</a></li>
        <li><a href="/topics/22">Тема 22: Раскрытие скобок. Вынесение общего множителя за скобки</a></li>
        <li><a href="/topics/23">Тема 23: Коэффициент. Подобные слагаемые. Приведение подобных слагаемых</a></li>
        <li><a href="/topics/24">Тема 24: Тождественные преобразования выражений</a></li>
        <li><a href="/topics/25">Тема 25: Числовые равенства и их свойства</a></li>
        <li><a href="/topics/26">Тема 26: Линейные уравнения с одной переменной. Равносильные уравнения</a></li>
        <li><a href="/topics/27">Тема 27: Решение текстовых задач с помощью уравнений</a></li>
        <li><a href="/topics/28">Тема 28: Линейное уравнение с одной переменной, содержащее переменную под знаком модуля</a></li>
        <li><a href="/topics/29">Тема 29: Числовые неравенства и их свойства</a></li>
        <li><a href="/topics/30">Тема 30: Числовые промежутки. Объединение и пересечение числовых промежутков</a></li>
        <li><a href="/topics/31">Тема 31: Линейное неравенство с одной переменной</a></li>
        <li><a href="/topics/32">Тема 32: Системы линейных неравенств с одной переменной</a></li>
        <li><a href="/topics/33">Тема 33: Линейное неравенство с одной переменной, содержащее переменную под знаком модуля</a></li>
        <li><a href="/topics/34">Тема 34: Плоскость. Перпендикулярные прямые и отрезки. Параллельные прямые</a></li>
        <li><a href="/topics/35">Тема 35: Координатная плоскость. Прямоугольная система координат</a></li>
        <li><a href="/topics/36">Тема 36: Осевая и центральная симметрии</a></li>
        <li><a href="/topics/37">Тема 37: Зависимость между величинами. Способы задания зависимостей между величинами</a></li>
        <li><a href="/topics/38">Тема 38: Система линейных уравнений с двумя переменными</a></li>
    </ul>

</html>
