{% load static %}
<!DOCTYPE html>
<html lang="kz">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
	<link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static '/images/logo1.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}

{% endfor %}
				{% if request.user.is_authenticated %}
                 <li class="last"><a href="{% url 'home' %}">Перевести сайт на русский язык</a> | <a href="{% url 'profile' %}">{{user.username}}</a> | <a href="{% url 'logout' %}">Шығу</a></li>
                {% else %}
                <li class="last"><a href="{% url 'home' %}">Перевести сайт на русский язык</a> | <a href="{% url 'register' %}">Тіркелу</a> | <a href="{% url 'login' %}">Кіру</a></li>
                 {% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Барлық тақырыптар</li>
{% else %}
		<li><a href="{% url 'home2' %}">Барлық тақырыптар</a></li>
{% endif %}

{% for c in cats %}
{% if c.women__count > 0 %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{c.name}}</li>
	{% else %}
	{% endif %}
{% endif %}
{% endfor %}


	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
<body>
  <header>
    <h1>Математика</h1>
  </header>

  <section class="tests">
    <h2>Тесттер</h2>

    <ul class="tests">
        <li><a href="/topics/39">1-тақырып: Екі санның қатынасы</a></li>
        <li><a href="/topics/40">2-тақырып: Берілген қатынастағы сандарды бөлу</a></li>
        <li><a href="/topics/41">3-тақырып: Екі санның пайыздық қатынасы</a></li>
        <li><a href="/topics/42">4-тақырып: Пропорция. Пропорцияның негізгі қасиеті</a></li>
        <li><a href="/topics/43">5-тақырып: Тікелей пропорционалды тәуелділік</a></li>
        <li><a href="/topics/44">6-тақырып: Кері пропорционалды тәуелділік</a></li>
        <li><a href="/topics/45">7-тақырып: Пропорция әдісімен пайыздар бойынша есептерді шешу</a></li>
        <li><a href="/topics/46">8-тақырып: Масштаб</a></li>
        <li><a href="/topics/47">9-тақырып: Шеңбердің ұзындығы. Шеңбер ауданы</a></li>
        <li><a href="/topics/48">10-тақырып: Координаттық түзу</a></li>
        <li><a href="/topics/49">11-тақырып: Тұтастар. Рационал сандар</a></li>
        <li><a href="/topics/50">12-тақырып: Санның модулі</a></li>
        <li><a href="/topics/51">13-тақырып: Рационал сандарды салыстыру</a></li>
        <li><a href="/topics/52">14-тақырып: Координаттық түзу арқылы рационал сандарды қосу</a></li>
        <li><a href="/topics/53">15-тақырып: Рационал сандарды қосу</a></li>
        <li><a href="/topics/54">16-тақырып: Рационал сандардан азайту</a></li>
        <li><a href="/topics/55">17-тақырып: Рационал сандарды көбейту</a></li>
        <li><a href="/topics/56">18-тақырып: Рационал сандардың ауыстыру және қосу қасиеттері</a></li>
        <li><a href="/topics/57">19-тақырып: Рационал сандарды бөлу ережелері</a></li>
        <li><a href="/topics/58">20-тақырып: Рационал санның шексіз ондық периодты үлесі ретінде ұсынылуы</a></li>
        <li><a href="/topics/59">21-тақырып: Айнымалылары бар өрнектер</a></li>
        <li><a href="/topics/60">22-тақырып: Жақшаларды ашу. Ортақ множитті жақшадан шығару</a></li>
        <li><a href="/topics/61">23-тақырып: Коэффициент. Ұқсас қосындылар. Ұқсас қосындыларды біріктіру</a></li>
        <li><a href="/topics/62">24-тақырып: Өрнектерді теңдікке айналдыру</a></li>
        <li><a href="/topics/63">25-тақырып: Сандық теңдіктер және олардың қасиеттері</a></li>
        <li><a href="/topics/64">26-тақырып: Бір айнымалысы бар сызықтық теңдеулер. Теңестірілген теңдеулер</a></li>
        <li><a href="/topics/65">27-тақырып: Теңдеулер арқылы мәтіндік есептерді шешу</a></li>
        <li><a href="/topics/66">28-тақырып: Айнымалының модуль белгісімен сызықтық теңдеу</a></li>
        <li><a href="/topics/67">29-тақырып: Сандық теңсіздіктер және олардың қасиеттері</a></li>
        <li><a href="/topics/68">30-тақырып: Сандық аралықтар. Сандық аралықтардың бірігуі және қиылысуы</a></li>
        <li><a href="/topics/69">31-тақырып: Бір айнымалысы бар сызықтық теңсіздік</a></li>
        <li><a href="/topics/70">32-тақырып: Бір айнымалысы бар сызықтық теңсіздіктер жүйесі</a></li>
        <li><a href="/topics/71">33-тақырып: Айнымалының модуль белгісімен сызықтық теңсіздік</a></li>
        <li><a href="/topics/72">34-тақырып: Жазықтық. Тік бұрышты және параллель түзулер мен кесінділер</a></li>
        <li><a href="/topics/73">35-тақырып: Координатты жазықтық. Тікбұрышты координатты жүйе</a></li>
        <li><a href="/topics/74">36-тақырып: Осьтік және орталықтандырылған симметрия</a></li>
        <li><a href="/topics/75">37-тақырып: Өлшемдер арасындағы байланыс. Өлшемдер арасындағы байланыстарды белгілеу әдістері</a></li>
        <li><a href="/topics/76">38-тақырып: Екі айнымалысы бар сызықтық теңдеулер жүйесі</a></li>
    </ul>
</html>
