{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="shortcut icon" href="{% static '/images/logo1.ico' %}" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<head>
<body>
{% block mainmenu %}
  <div class="header">
    <ul id="mainmenu" class="mainmenu">
      <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
      <div class="dropdown2">
    <button class="dropbtn" id="menuBtn">Меню</button>
    <div class="dropdown2-content">
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}">{{ user.username }}(профиль)</a>
            <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
            <a href="{% url 'register' %}"> Регистрация</a>
            <a href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
</div>
      <!-- End Dropdown Menu -->

      {% if request.user.is_authenticated %}
        <li class="last"><a href="{% url 'profile' %}">{{ user.username }}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
      {% else %}
        <li class="last"><a href="{% url 'register' %}"> Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
      {% endif %}
    </ul>
    <div class="clear"></div>
  </div>
{% endblock mainmenu %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn");
    const dropdownContent = document.querySelector(".dropdown2-content");


    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
    document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn1");
    const dropdownContent = document.querySelector(".dropdown21-content");

    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn1")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
</script>
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все темы</li>
{% else %}
		<li><a href="{% url 'home' %}">Все темы</a></li>
{% endif %}

{% for c in cats %}
{% if c.women__count > 0 %}
	{% if c.pk == cat_selected %}
		<li class="selected">{{c.name}}</li>
	{% else %}
	{% endif %}
{% endif %}
{% endfor %}


	</ul>
</td>
<td valign="top" class="content">
<body>
    {% csrf_token %}
    <div class="profile-container">
        <h1>Профиль</h1>
        <div class="profile-info">

            <p>Имя пользователя: <span>{{ user.username }}</span></p>
            <p>ФИО: <span>{{ full_name }}</span></p>
            <p>Email: <span>{{ user.email }}</span></p>
            <p>Статус: <span>{{ status }}</span></p>
        </div>
    {% if status == "student" %}
    <h2>Мой классы:</h2>
    <ul>
    {% for classroom in classrooms %}
        <li class="list-group-item d-flex justify-content-between align-items-center">{{ classroom.name }} - Учитель: {{ classroom.teacher_full_name }}</li>
    {% empty %}
        <p>Вы еще не зачислены ни в один класс.</p>
    {% endfor %}
    </ul>
{% endif %}
    {% if status == "student" %}
        <a href="{% url 'manage_join_requests' %}" class="create-class-button">Запросы</a>
        <hr>
    {% endif %}

    {% if status == "teacher" %}
    <a href="{% url 'create_class' %}" class="create-class-button">Создать класс</a>

<hr>
        <h2>Ваши классы:</h2>

   <ul class="list-group">
    {% for classroom in classrooms %}
        <a href="{% url 'classroom_detail' classroom.id %}" class="text-decoration-none">
            <li class="list-group-item d-flex justify-content-between align-items-center" id="classroom_{{ classroom.id }}">
                {{ classroom.name }}
                <span class="badge bg-primary rounded-pill">
                    <i class="fa fa-chevron-right"></i> <!-- Icon -->
                </span>
            </li>
        </a>
</ul>
{% empty %}
    <p>No classrooms yet.</p>
{% endfor %}
    {% if form.non_field_errors %}
    <div class="error">
        {{ form.non_field_errors }}
    </div>
{% endif %}
    </ul>
   {% endif %}


        <h2>Результаты тестов:</h2>
        <div class="test-results">
            {% for test_result in user.testresult_set.all %}
                <div class="test-result">
                    <h3><a href="{% url 'test_history' test_result.test.id %}">Тест "{{ test_result.test.title }}"</a>:</h3>
                    <p>Последний балл: <span>{{ test_result.score }}</span></p>
                    <p>Лучший балл: <span>{{ test_result.best_score }}</span></p>
                </div>
            {% empty %}
                <p>Результаты тестов отсутствуют.</p>
            {% endfor %}
        </div>

    </div>
</body>

</html>