{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static '/images/logo1.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
<div class="dropdown2">
    <button class="dropbtn" id="menuBtn">Меню</button>
    <div class="dropdown2-content">
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}">{{ user.username }}(профиль)</a>
            <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
            <a href="{% url 'register' %}"> Регистрация</a>
            <a href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
</div>
				{% if request.user.is_authenticated %}
                 <li class="last"><a href="{% url 'profile' %}">{{user.username}}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
                 {% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn");
    const dropdownContent = document.querySelector(".dropdown2-content");


    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
    document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn1");
    const dropdownContent = document.querySelector(".dropdown21-content");

    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn1")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
</script>
<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все темы</li>
{% else %}
		<li><a href="{% url 'home' %}">Все темы</a></li>
{% endif %}



	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}
<body>
 <div class="profile-container">
       <a class="list-group-item d-flex justify-content-between align-items-center" href="#" onclick="history.back(-1);">Назад</a>
        <h1>Профиль Студента</h1>
        <div class="profile-info">
            <p>Имя пользователя: <span>{{ student.username }}</span></p>
            <p>ФИО: <span>{{ user_profile.full_name }}</span></p>
            <p>Email: <span>{{ student.email }}</span></p>
            <p>Статус: <span>{{ user_profile.status }}</span></p>
        </div>

        <h2>Результаты тестов:</h2>
        <div class="test-results">
            {% for test_result in student.testresult_set.all %}
                <div class="test-result">
                    <h3>Тест "{{ test_result.test.title }}":</h3>
                    <p>Последний балл: <span>{{ test_result.score }}</span></p>
                    <p>Лучший балл: <span>{{ test_result.best_score }}</span></p>
                </div>
            {% empty %}
                <p>Результаты тестов отсутствуют.</p>
            {% endfor %}
        </div>
    </div>
</td>
</body>
</html>