{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>{{ test.title }}</title>
    <link type="text/css" href="{% static '/css/styles.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static '/images/logo1.ico' %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
            <div class="dropdown2">
    <button class="dropbtn" id="menuBtn">Меню</button>
    <div class="dropdown2-content">
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile' %}">{{ user.username }}(профиль)</a>
            <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
            <a href="{% url 'register' %}"> Регистрация</a>
            <a href="{% url 'login' %}">Войти</a>
      {% endif %}
    </div>
</div>
                {% if request.user.is_authenticated %}
                 <li class="last"><a href="{% url 'profile' %}">{{user.username}}</a> | <a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
                 {% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
{% if cat_selected == 0 %}
		<li class="selected">Все темы</li>
{% else %}
		<li><a href="{% url 'home' %}">Все темы</a></li>
{% endif %}




	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}
{% block content %}

<!-- Основной контент теста -->
    <div class="dropdown">
    <button class="dropbtn">Выберите вопрос</button>
    <div class="dropdown-content">
        <input type="text" id="dropdownSearch" placeholder="Поиск по вопросам...">
        {% for question in questions %}
            <a href="#question_{{ forloop.counter }}" class="question-link" data-question-id="{{ question.id }}">Вопрос {{ forloop.counter }}</a>

        {% endfor %}
    </div>
</div>
<div class="test-page">
    <h1>{{ test.title }}</h1>
    <form method="post" action="{% url 'process_test' test.id %}">
         {% csrf_token %}

        {% for question in questions %}
        <p class="question-title"><span class="question-number">Вопрос {{ forloop.counter }}:</span> {{ question.text|safe }}</p>
        {% for answer in question.answer_set.all %}
            <input type="radio" name="{{ question.id }}" value="{{ answer.text }}" id="answer_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
            <label class="answer-label" for="answer_{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ answer.text| safe}}</label><br>
        {% endfor %}
            </div>
            {% if forloop.counter >= 30 %}
                {% for question in questions %}
                                                {% endfor %}
            {% endif %}
        {% endfor %}
    <button type="submit" id="submit-button" class="submit-button" onclick="return confirm('Вы уверены, что хотите отправить ответы?')">Отправить ответы</button>
<div class="tooltip" id="tooltip">Вы уверены?</div>
    </form>
</div>
{% endblock %}
<script>
  document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn");
    const dropdownContent = document.querySelector(".dropdown2-content");


    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
    document.addEventListener("DOMContentLoaded", function() {
    const menuButton = document.getElementById("menuBtn1");
    const dropdownContent = document.querySelector(".dropdown21-content");

    menuButton.addEventListener("click", function(event) {
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block"; // Изменяем стиль отображения
        event.stopPropagation();
    });

    document.addEventListener("click", function(event) {
        if (!event.target.matches("#menuBtn1")) {
            dropdownContent.style.display = "none"; // Скрываем выпадающий список при клике вне кнопки
        }
    });
});
    function markQuestionAsAnswered(questionId) {
    var questionLink = $('.question-link[data-question-id="' + questionId + '"]');
    questionLink.addClass('answered');
}
    $(document).ready(function() {
        $('.test-page').on('keydown', function(e) {
            if (e.keyCode === 13) { // 13 - код клавиши Enter
                e.preventDefault(); // Предотвращает действие по умолчанию для Enter
                $(this).find('form').submit(); // Отправляет форму
            }
        });
    });
    $(document).ready(function() {
    // Открытие и закрытие выпадающего меню
    $('.dropbtn').click(function(event) {
        $('.dropdown-content').toggle();
        event.stopPropagation();
    });
});
    $(document).ready(function() {
    $("#dropdownSearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".dropdown-content a").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
    function saveAnswer(questionId, selectedAnswer) {
    localStorage.setItem(questionId, selectedAnswer);
}

// Восстановление состояния при перезагрузке
document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('input[type=radio]').forEach(function(radio) {
        var savedAnswer = localStorage.getItem(radio.name);
        if (radio.value === savedAnswer) {
            radio.checked = true;
        }
    });
});
    $('input[type=radio]').on('change', function() {
    var questionId = $(this).attr('name');
    var answer = $(this).val();
    $.ajax({
        url: '/test/{{ test_id }}',
        method: 'POST',
        data: {
            'question_id': questionId,
            'answer': answer,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
            // Обработка ответа сервера
        }
    });
});
    // Показать подсказку при наведении на кнопку
$('#submit-button').on('mouseover', function() {
    $('#tooltip').addClass('show');
});

// Скрыть подсказку при уходе мыши с кнопки
$('#submit-button').on('mouseout', function() {
    $('#tooltip').removeClass('show');
});

// Отправить форму при клике на кнопку
$('#submit-button').on('click', function() {
    // Вывести подтверждение в консоль (замените этот код на отправку формы)

    // Скрыть подсказку
    $('#tooltip').removeClass('show');
});

</script>